li.b-photos__thumb.span3(data-id=id)
  button.pull-right.btn.btn-mini.b-remove-photo-button(type="button")
    i.icon-remove
  a.thumbnail.fancybox(rel="thumbs", href="#{ AdminApplication.settings.get("cdn") }/images/#{ id }/original")
    img(src="#{ AdminApplication.settings.get("cdn") }/images/#{ id }/thumb")